<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WCCI Libraries</title>
</head>
<body >
<div class="container">
    <header>
        <h1>We Can Code It Libraries</h1>
    </header>
    <main>
        <h2 th:text="${book.title}">Head First C#</h2>
        <h3 th:text="${book.authorName}">Thomas Muller</h3>
        <img th:src="${book.imageUrl}" src="https://cdn.britannica.com/84/206384-131-207CC735/Javan-gliding-tree-frog.jpg">
        <p th:text="${book.description}">This is the newest book at the Cleveland campus!</p>
        <a href="./columbus.html">Back to Cleveland!</a>
    </main>
    <footer><small>WCCI 2021</small></footer>
</div>
</body>
</html>